*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }

html, body {
    height: 100%;
}

body {
    background-color: chocolate;
}

main {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}